body {
    font-family: "Roboto", sans-serif;
    background-color: white;
    color: #434455;
}

.header-nav-link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #404BBF;
}

.header-nav-link span {
    color: #2E2F42;
}

.header-nav-item {

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-nav-item:focus,
.header-nav-item:hover {
    color: #404BBF;
}

address {
    font-style: normal;
}

.address-item {

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-item:hover,
.address-item:focus {
    color: #404BBF;
}

.sectionone {
    background-color: #2e2f42;
}

.sectionone-hh {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: white;
}

.sectionone-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: white;
    text-align: center;
    cursor: pointer;
}

.sectionone-button:hover,
.sectionone-button:focus {
    background-color: #404BBF;
}

.sectiontwo-h {
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
}

.sectiontwo-maintext {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.sectionthree {
    background-color: #F4F4FD;
}

.sectionthree-link {
    background-color: #FFFFFF;
}

.sectionthree-hh {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
}

.sectionthree-h {
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
}

.sectionthree-maintext {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
}

.sectionfour-hh {

    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
}

.sectionfour-h {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    font-weight: 500;
}

.sectionfour-maintext {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

footer {
    background-color: #2E2F42;
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
}

.footer-link:hover,
.footer-link:focus {
    color: #404BBF;
}

.footer-span {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}